.kitten-list {
    background-color: rgb(195, 167, 220);
    margin: 2%;
    padding: 2%;
    border-radius: 15px;
}

h1 {
    text-align: center;
}

img {
    width: 50%;
    height: 50%;
    border-radius: 15px;
}

li {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 2%;
    text-align: center;
    border-radius: 15px;
    border: none;
    padding: 1%;
    background-color: #127996;
    color: white;
}